@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/grid";

.education .title {
  font-family: "JetBrains Mono Regular", monospace;
}

.education .category {
  font-family: "JetBrains Mono Regular", monospace;
  font-size: medium;
}

.education .text {
  font-family: "JetBrains Mono Regular", monospace;
  font-size: smaller;
}
