<section class="container section education">
  <div class="row">
    <div class="col-lg-3 title">
      <h3 class="mt-0">Education</h3>
    </div>
    <div class="col-lg-7">
      <div class="pb-3 category">1998-2004 <a target="_blank" href="https://tpu.ru/en/">Tomsk Polytechnic University</a>
      </div>
      <div class="pb-3 text">Master, Computer Science – Graduated with Honors</div>
    </div>
  </div>
</section>
