.amazing {
  padding-top: 2rem;
}

.amazing .title {
  font-family: "JetBrains Mono Bold", monospace;
  font-size: small;
}

.amazing .text {
  font-family: "JetBrains Mono Regular", monospace;
  font-size: smaller;
}
