<section class="container section amazing">
  <div>
    <span class="text-dark title">{{getAmazingTitle()}}</span>
    <span class="text-dark text">{{getAmazingText()}}</span>
    <br>
    <span class="text-dark text">
      <a rel="nofollow" target="_blank" href="{{getAmazingUrl()}}">{{getAmazingName()}}</a>
    </span>
  </div>
</section>
