<section class="container section experience">
  <div class="row">
    <div class="col-lg-3 title">
      <h3 class="mt-0">Experience</h3>
    </div>
    <div class="col-lg-7">
      <div class="skill pb-3" *ngFor="let e of getExperiences()">
        <div class="row">
          <div class="col-sm">
            <span class="category">{{e.category}}</span>
          </div>
          <div class="col-sm">
            <span class="text">{{e.years}} years</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
