@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/badge";

.experience .title {
  font-family: "JetBrains Mono Medium", monospace;
}

.experience .category {
  font-family: "JetBrains Mono Regular", monospace;
  color: #455065;
  border: 1px solid #dfe3e9;
  border-radius: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  padding: 6px 16px;
  white-space: nowrap;
  text-decoration: none;
  transition: 2s ease-in-out;
}

.experience .category:hover {
  box-shadow: 0px 3px 15px rgba(180, 178, 178, 0.7);
}

.experience .text {
  font-family: "JetBrains Mono Regular", monospace;
  font-size: smaller;
}
