<section class="container section summary">
  <div class="row">
    <div class="col-lg-3 mt-lg-5">
      <img class="align-self-auto image" src="{{getImage()}}" alt=""/>
    </div>
    <div class="col-lg-7 mt-lg-5">
      <h4 class="mt-0 pb-0 title print-only">{{getName()}}</h4>
      <h4 class="mt-0 pb-0 title">{{getObjective()}}</h4>
      <h6 class="mt-0 pb-0 linked">
        <a rel="nofollow" target="_blank" href="https://www.linkedin.com/in/deniskuchugurov/">https://www.linkedin.com/in/deniskuchugurov/</a>
      </h6>
      <div class="pb-1" *ngFor="let s of getSummary()">
        <span class="text-dark text">{{s}}</span>
      </div>
      <app-amazing></app-amazing>
    </div>
  </div>
</section>
