@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/media";

.summary .title {
  font-family: "JetBrains Mono Bold", monospace;
  font-size: x-large;
}

.summary .linked {
  font-family: "JetBrains Mono Bold", monospace;
  font-size: small;
}

.summary .text {
  font-family: "JetBrains Mono Regular", monospace;
  font-size: small;
}

.summary .image {
  width: 200px;
}

.print-only {
  display: none;
}

@media print {
  .print-only {
    display: block;
  }
  .title {
    margin-bottom: 10px;
  }
}
