@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/grid";

.skills .title {
  font-family: "JetBrains Mono Medium", monospace;
}

.skills .category {
  font-family: "JetBrains Mono Regular", monospace;
  font-size: medium;
}

.skills .text {
  font-family: "JetBrains Mono Regular", monospace;
  font-size: smaller;
}

.skills .list-group {
  padding-left: 0;
}
