<section class="container section skills">
  <div class="row">
    <div class="col-lg-3 title">
      <h3 class="mt-0">Skills</h3>
    </div>
    <div class="col-lg-7">
      <ul class="list-group">
        <div class="skill pb-3" *ngFor="let s of getSkills()">
          <li class="list-group-item list-group-item-primary">
            <span class="category">{{s.category}}</span> <span class="text"> {{s.text}}</span>
          </li>
        </div>
      </ul>
    </div>
  </div>
</section>
