@font-face {
  font-family: 'JetBrains Mono Regular';
  font-style: normal;
  src: local('JetBrains Mono Regular'),
  url('../assets/fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Regular.woff') format('woff')
}

@font-face {
  font-family: 'JetBrains Mono Italic';
  font-style: italic;
  src: local('JetBrains Mono Italic'),
  url('../assets/fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Italic.woff') format('woff')
}

@font-face {
  font-family: 'JetBrains Mono Medium';
  font-style: normal;
  src: local('JetBrains Mono Medium'),
  url('../assets/fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Medium.woff') format('woff')
}


@font-face {
  font-family: 'JetBrains Mono Bold';
  font-style: normal;
  src: local('JetBrains Mono Bold'),
  url('../assets/fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-Bold.woff') format('woff')
}


@font-face {
  font-family: 'JetBrains Mono ExtraBold';
  font-style: normal;
  src: local('JetBrains Mono Bold'),
  url('../assets/fonts/JetBrainsMono-1.0.3/web/woff/JetBrainsMono-ExtraBold.woff') format('woff')
}
