<div class="content" role="main">
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <div id="section-summary" class="divider"></div>
    <app-summary></app-summary>
    <div id="section-skills" class="divider"></div>
    <app-skills></app-skills>
    <div id="section-experience" class="divider"></div>
    <app-experience></app-experience>
    <div id="section-employment" class="divider"></div>
    <app-employment></app-employment>
    <div id="section-education" class="divider"></div>
    <app-education></app-education>
    <app-footer></app-footer>
  </div>
</div>
