@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

@import "node_modules/bootstrap/scss/nav";
@import "node_modules/bootstrap/scss/navbar";
@import "node_modules/bootstrap/dist/css/bootstrap";

.navbar {
  font-family: "JetBrains Mono Regular", monospace !important;
}

.navbar .navbar-brand {
  font-family: "JetBrains Mono Bold", monospace !important;
}

.navbar .navbar-nav {
  svg{
    background-color: white;
    width: 28px;
    height: 28px;
  }
}

.btn-social {
  margin-left: 10px;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.btn-social:hover {
  //opacity: 0.7;
  //transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(142, 137, 137, 0.7);
}

