@import "node_modules/bootstrap/scss/bootstrap-grid";
@import "node_modules/bootstrap/scss/grid";
@import "node_modules/bootstrap/scss/media";

.employment .title {
  font-family: "JetBrains Mono Medium", monospace;
}

.employment .logo {
  img {
    width: 70px;
    height: 70px;
    filter: grayscale(1);
  }
}

.employment .category {
  font-family: "JetBrains Mono Regular", monospace;
  font-size: medium;
}

.employment .achievement {
  font-family: "JetBrains Mono Regular", monospace;
  font-size: 11px;
  line-height: 20px;
}

.employment .text {
  font-family: "JetBrains Mono Regular", monospace;
  font-size: smaller;
}

.employment .key-achievement {
  font-family: "JetBrains Mono Regular", monospace;
  font-size: smaller;
  font-weight: bold;
}

.employment .list-group {
  padding-left: 0;
}

.employment .list-group {
  .list-group-item-info {
    color: #343a40;
    background-color: #f5f5f5;
  }
  .list-group-item-light {
    color: #343a40;
    background-color: #fdfdfe;
  }
}
