<section class="container section employment">
  <div class="row">
    <div class="col-lg-3 title">
      <h3 class="mt-0">Employment</h3>
    </div>
    <div class="col-lg-7">
      <div *ngFor="let employment of getEmployments()">

        <div class="media pb-4">

          <div class="mr-5 logo">
            <a rel="nofollow" target="_blank" href="{{employment.company.url}}">
              <img src="{{employment.company.image}}" alt="{{employment.company.name}}">
            </a>
          </div>

          <div class="media-body">
            <div class="mb-2 category">{{employment.years}} - {{employment.position}}</div>

            <div *ngFor="let p of employment.projects">
              <div class="ml-0 text">
                <span *ngIf="hasUrl(p)">
                  <a rel="nofollow" target="_blank" href="{{p.url}}">{{p.name}}</a> &middot; {{p.description}}
                </span>
                <span *ngIf="hasNoUrl(p)">
                  {{p.name}} &middot; {{p.description}}
                </span>
              </div>
            </div>

            <div class="mt-2">
              <ul class="list-group">
                <div *ngFor="let a of employment.achievements">
                  <li class="list-group-item-light">
                    <div class="ml-0 achievement">{{a}}</div>
                  </li>
                </div>
                <span class="mt-2 text-dark key-achievement">Key Achievement</span>
                <li class="list-group-item-info">
                  <div class="ml-0 achievement">{{employment.keyAchievement}}</div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
